{{page-title 'Date Range Picker'}}

<h1>
  Date Range Picker
</h1>

<p>
  The date picker can also be used as a date range picker by setting
  <CodeInline @language="javascript">
    range=true
  </CodeInline>
  .
  This will change the behavior of the date picker to select a range instead of a single date.
</p>

<p>
  Date Range Pickers will receive an array as parameter for their action. This array has two elements, the first is the
  fromDate and the second is the toDate. Both of these can be either a moment.js-Date or null.
</p>

<h2>
  Basic Usage
</h2>
<DatePicker @range={{true}} @onChange={{this.updateDateRange}} />
<CodeBlock @language="handlebars">
 &lt;DatePicker @range={{true}} @value={{this.value}} @onChange={{this.updateDateRange}} /&gt;
</CodeBlock>

<h2>
  Initial Values
</h2>
<DatePicker @range={{true}} @value={{date1.value}} @onChange={{this.updateDateRange}} />

<CodeBlock @language="handlebars">
 &lt;DatePicker @range={{true}} @value={{this.value}} @onChange={{this.updateDateRange}} /&gt;
</CodeBlock>