{{title 'date-picker'}}

<h1>date-picker</h1>

<p>
  This component adds a configurable date picker which emits an action if the selected date changes.
</p>

<h2>Attributes</h2>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        value
      </td>
      <td>
        The default value for the date picker.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        action
      </td>
      <td>
        The action to call whenever the date changes.
        Has to be an actual action method, not an action name, e.g.
        {{#code-inline language='handlebars'}}action=(action 'myAction'){{/code-inline}}.
        The action will receive the selected (moment.js) date as parameter.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        minDate
      </td>
      <td>
        The minimum selectable date. No date before this date will be selectable.
        it will also be impossible to move to months/years before this date.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        maxDate
      </td>
      <td>
        The maximum selectable date. No date after this date will be selectable.
        it will also be impossible to move to months/years after this date.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        inline
      </td>
      <td>
        If the date picker should always be visible.
        If this is false, the date picker will be opened by clicking on it.
      </td>
      <td>
        {{#code-inline language='javascript'}}false{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        showWeekdays
      </td>
      <td>
        If weekdays (Monday, ...) should be shown in the date picker.
      </td>
      <td>
        {{#code-inline language='javascript'}}true{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        placeholder
      </td>
      <td>
        The placeholder for the date picker.
      </td>
      <td>
        {{#code-inline language='javascript' class="no-wrap"}}'Select Date...'{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        calendarWidth
      </td>
      <td>
        The width of the calendar widget. If you change the styling, you should adapt this value.
        This is used to calculate the correct position of the calendar.
      </td>
      <td>
        {{#code-inline language='javascript'}}300{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        isOpen
      </td>
      <td>
        If the calendar should be open by default.
        This will have no effect if {{#code-inline language='handlebars'}}inline=true{{/code-inline}}.
      </td>
      <td>
        {{#code-inline language='javascript'}}true{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        localization
      </td>
      <td colspan="2">
        This can be overwritten to get a different output.
        {{#code-block language='javascript'}}{
  dateFormat: 'L',
  monthLongFormat: 'MMMM',
  monthShortFormat: 'MMM'
}{{/code-block}}
      </td>
    </tr>
    <tr>
      <td>
        classes
      </td>
      <td colspan="2">
        This can be overwritten to get a different output.
        {{#code-block language='javascript'}}{
  calendarContainerOuter: 'date-picker__outer',
  calendarContainer: 'date-picker',
  calendarContainerInline: 'date-picker--inline',
  toggleButton: 'date-picker__button',
  monthHeader: 'date-picker__month__header',
  yearCurrent: 'date-picker__year__current',
  monthCurrent: 'date-picker__month__current',
  monthCurrentDisplay: 'date-picker__month__current__display',
  monthCurrentSelect: 'date-picker__month__current__select',
  monthButton: 'date-picker__month__button',
  monthButtonDisabled: 'date-picker__month__button--disabled',
  monthButtonPrevious: 'date-picker__month__button--previous',
  monthButtonNext: 'date-picker__month__button--next',
  calendarOuter: 'date-picker__calendar',
  calendarHeader: 'date-picker__header',
  calendarHeaderWeekday: 'date-picker__header__weekday',
  calendarInner: 'date-picker__calendar__days',
  day: 'date-picker__day'
}{{/code-block}}
      </td>
    </tr>
  </tbody>
</table>

<h2>Basic Usage</h2>
{{date-picker action=(action 'updateDate')}}
{{#code-block language='handlebars'}}\{{date-picker action=(action 'updateDate')}}{{/code-block}}

<h2>Inline Usage</h2>
{{date-picker inline=true action=(action 'updateDate')}}
{{#code-block language='handlebars'}}\{{date-picker inline=true action=(action 'updateDate')}}{{/code-block}}

<div class="wrapper">
  <h2>With start value</h2>
  {{date-picker value=date2.value action=(action 'updateDate')}}
</div>

<div class="wrapper">
  <h2>With min & max value</h2>
  {{date-picker minDate=date3.min maxDate=date3.max action=(action 'updateDate')}}
</div>