<div class='date-time-picker' ...attributes>
  <span class='date-time-picker__item date-time-picker__item--date'>
    {{#if (has-block 'date')}}
      {{yield
        (component
          'date-picker'
          value=@value
          disabled=@disabled
          onChange=this.updateDate
        )
        to='date'
      }}
    {{else}}
      <DatePicker
        @value={{@value}}
        @buttonClasses={{@datePickerClasses}}
        @buttonDateFormat={{@buttonDateFormat}}
        @minDate={{@minDate}}
        @maxDate={{@maxDate}}
        @disabled={{@disabled}}
        @renderInPlace={{@renderInPlace}}
        @horizontalPosition={{@horizontalPosition}}
        @verticalPosition={{@verticalPosition}}
        @onChange={{this.updateDate}}
      />
    {{/if}}
  </span>

  <span class='date-time-picker__item date-time-picker__item--time'>
    {{#if (has-block 'time')}}
      {{yield
        (component
          'time-picker'
          value=this.timePickerValue
          disabled=@disabled
          onChange=this.updateTime
        )
        to='time'
      }}
    {{else}}
      <TimePicker
        @value={{this.timePickerValue}}
        @disabled={{this.timePickerDisabled}}
        @minTime={{@minTime}}
        @maxTime={{@maxTime}}
        @step={{@step}}
        @selectStep={{@selectStep}}
        @amPm={{@amPm}}
        @inputClasses={{@timePickerClasses}}
        @renderInPlace={{@renderInPlace}}
        @horizontalPosition={{@horizontalPosition}}
        @verticalPosition={{@verticalPosition}}
        @onChange={{this.updateTime}}
      />
    {{/if}}
  </span>
</div>