{{title 'Date Picker'}}

<h1>date-picker</h1>

<p>
  This component adds a configurable date picker which emits an action if the selected date changes.
</p>

<h2>Basic Usage</h2>
{{date-picker action=(action 'updateDate')}}
{{#code-block language='handlebars'}}\{{date-picker action=(action 'updateDate')}}{{/code-block}}

<div class="wrapper">
  <h2>With start value</h2>
  {{date-picker value=date2.value action=(action 'updateDate')}}
</div>

<div class="wrapper">
  <h2>With min & max value</h2>
  {{date-picker minDate=date3.min maxDate=date3.max action=(action 'updateDate')}}
</div>

<h2>Attributes</h2>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        value
      </td>
      <td>
        The default value for the date picker.
        This can be null, a moment.js-Date, or an array containing 0-2 moment.js Dates.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        action
      </td>
      <td>
        The action to call whenever the date changes.
        Has to be an actual action method, not an action name, e.g.
        {{#code-inline language='handlebars'}}action=(action 'myAction'){{/code-inline}}.
        The action will receive the selected (moment.js) date as parameter.
        If you set {{#code-inline language='javascript'}}range=true{{/code-inline}}, the action will receive
        an array with 2 elements as parameter.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        closeAction
      </td>
      <td>
       While <i>action</i> will be sent whenever one of the values changes, this action will be called whenever the
        date-picker is closed. This is especially useful for date range pickers.
        Has to be an actual action method, not an action name, e.g.
        {{#code-inline language='handlebars'}}action=(action 'myAction'){{/code-inline}}.
        The action will receive the selected (moment.js) date as parameter.
        If you set {{#code-inline language='javascript'}}range=true{{/code-inline}}, the action will receive
        an array with 2 elements as parameter.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        minDate
      </td>
      <td>
        The minimum selectable date. No date before this date will be selectable.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        maxDate
      </td>
      <td>
        The maximum selectable date. No date after this date will be selectable.
      </td>
      <td>
        {{#code-inline language='javascript'}}null{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        range
      </td>
      <td>
        If set to true, this will be a date-range picker.
        See {{#link-to 'usage.date-range-picker'}}Date Range Picker{{/link-to}} for more details.
      </td>
      <td>
        {{#code-inline language='javascript' class="no-wrap"}}false{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        placeholder
      </td>
      <td>
        The placeholder for the date picker. Defaults to 'Select Date...'.
      </td>
      <td>
        {{#code-inline language='javascript' class="no-wrap"}}'Select Date...'{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        buttonClasses
      </td>
      <td>
        Classes to add to the date picker button.
      </td>
      <td>
        {{#code-inline language='javascript' class="no-wrap"}}''{{/code-inline}}
      </td>
    </tr>
    <tr>
      <td>
        buttonDateFormat
      </td>
      <td>
        A moment.js-format which is used for the values on the button.
      </td>
      <td>
        {{#code-inline language='javascript' class="no-wrap"}}'L'{{/code-inline}}
      </td>
    </tr>
  </tbody>
</table>