<div class="date-picker date-picker--inline {{if options ' date-picker--options'}}" style={{translateX}}>
  <div class="date-picker__calendar">

    {{date-picker-navigation
      currentMonth=currentMonth
      minDate=minDate
      maxDate=maxDate
      disableMonthPicker=disableMonthPicker
      disableYearPicker=disableYearPicker
      availableYearOffset=availableYearOffset
      class='date-picker__header'
      updateMonth=(action 'gotoMonth')
    }}

    {{date-picker-month
      month=currentMonth
      selectedDates=selectedDates
      selectDate=(action 'selectDate')
      minDate=minDate
      maxDate=maxDate
      startWeekOnSunday=startWeekOnSunday}}
  </div>

  {{#if options}}
    <div class="date-picker__options">
      {{#each _options as |option|}}
        <button {{action option.action option.actionValue}} class="date-picker__options__button {{option.classes}}">
          {{option.label}}
        </button>
      {{/each}}
    </div>
  {{/if}}
</div>