{{#basic-dropdown
  onOpen=(action 'openDropdown')
  onClose=(action 'closeDropdown')
  renderInPlace=renderInPlace
  horizontalPosition=horizontalPosition
  verticalPosition=verticalPosition
as |dd| }}

  {{#dd.trigger class='date-picker__trigger'}}
    {{#if hasBlock}}
      {{yield _dates}}
    {{else}}
      <button
        class="date-picker__button {{buttonClasses}}
          {{if range ' date-picker__button--range'}}
          {{if buttonFocused 'date-picker__button--focus'}}"
        data-test="date-picker-toggle-button"
        disabled={{disabled}}
          {{action 'toggleOpen' dd}}
      >
        {{buttonText}}
      </button>

      {{#if range}}
        {{dateRangeSeparator}}
        <button
          class="date-picker__button {{buttonClasses}}
            {{if range ' date-picker__button--range'}}
            {{if buttonToFocused ' date-picker__button--focus'}}"
          data-test="date-picker-toggle-button"
          disabled={{disabled}}
            {{action 'toggleOpenTo' dd}}
        >
          {{buttonToText}}
        </button>
      {{/if}}
    {{/if}}
  {{/dd.trigger}}

  {{#dd.content}}
    <div class="date-picker{{if options ' date-picker--options'}}">
      <div class="date-picker__calendar">
        <div class="date-picker__header">

          <button
            class="date-picker__header__button date-picker__header__button--previous" {{action 'gotoPreviousMonth'}}>
            &lt;
          </button>

          <button class="date-picker__header__button date-picker__header__button--next" {{action 'gotoNextMonth'}}>
            &gt;
          </button>

          <div class="date-picker__header__title">

            {{date-picker-month-year-select
              minDate=minDate
              maxDate=maxDate
              currentMonth=currentMonth
              disableMonthPicker=disableMonthPicker
              disableYearPicker=disableYearPicker
              availableYearOffset=availableYearOffset
              gotoMonth=(action 'gotoMonth')
            }}

          </div>

        </div>

        {{date-picker-month
          month=currentMonth
          selectedDates=selectedDates
          selectDate=(action 'selectDate')
          minDate=minDate
          maxDate=maxDate
          startWeekOnSunday=startWeekOnSunday
        }}
      </div>

      {{#if options}}
        <div class="date-picker__options">
          {{#each _options as |option|}}
            <button
              class="date-picker__options__button {{option.classes}}"
              {{action option.action option.actionValue}}
            >
              {{option.label}}
            </button>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/dd.content}}
{{/basic-dropdown}}
