<BasicDropdown
  @onOpen={{action 'onDropdownOpened'}}
  @onClose={{action 'onDropdownClosed'}}
  @renderInPlace={{renderInPlace}}
  @horizontalPosition={{horizontalPosition}}
  @verticalPosition={{verticalPosition}} as |dd|
>
  <dd.Trigger class='date-picker__trigger' tabindex='-1'>
    {{#if hasBlock}}
      {{yield _dates}}
    {{else}}
      <button
        type='button'
        class="date-picker__button {{buttonClasses}}
         {{if range ' date-picker__button--range'}}
         {{if buttonFocused 'date-picker__button--focus'}}"
        data-test-date-picker-toggle-button
        data-date-picker-toggle-button-instance={{elementId}}
        data-test-date-picker-toggle-button-format={{buttonDateFormat}}
        disabled={{disabled}}
        {{action 'toggleOpen' dd}}
      >
        {{buttonText}}
      </button>

      {{#if range}}
        {{dateRangeSeparator}}
        <button
          type='button'
          class="date-picker__button {{buttonClasses}}
           {{if range ' date-picker__button--range'}}
           {{if buttonToFocused ' date-picker__button--focus'}}"
          data-test-date-picker-toggle-button
          disabled={{disabled}}
          {{action 'toggleOpenTo' dd}}
        >
          {{buttonToText}}
        </button>
      {{/if}}
    {{/if}}
  </dd.Trigger>

  <dd.Content>
    <div
      data-date-picker-instance={{elementId}}
      class="date-picker{{if options ' date-picker--options'}}"
    >
      <div class='date-picker__calendar'>
        {{
          date-picker-navigation
          currentMonth=currentMonth
          minDate=minDate
          maxDate=maxDate
          disableMonthPicker=disableMonthPicker
          disableYearPicker=disableYearPicker
          availableYearOffset=availableYearOffset
          class='date-picker__header'
          updateMonth=(action 'gotoMonth')
        }}

        {{
          date-picker-month
          disabledDates=disabledDates
          month=currentMonth
          selectedDates=selectedDates
          selectDate=(action 'selectDate')
          minDate=minDate
          maxDate=maxDate
          startWeekOnSunday=startWeekOnSunday
        }}
      </div>

      {{#if options}}
        <div class='date-picker__options'>
          {{#each _options as |option|}}
            <button
              type='button'
              class="date-picker__options__button {{option.classes}}"
              {{action option.action option.actionValue}}
            >
              {{option.label}}
            </button>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </dd.Content>
</BasicDropdown>