{{#if showWeekdays}}
  <div class='date-picker__weekdays'>
    {{#each weekdays as |day|}}
      <div class='date-picker__weekday'>
        {{day}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='date-picker__days' data-test-date-picker-days>
  {{#each daysInMonth as |date|}}
    {{#if date}}
      <button
        type="button"
        data-test-date-picker-day="{{date.year}}-{{date.month}}-{{date.day}}"
        data-date-picker-day="{{date.year}}-{{date.month}}-{{date.day}}"
        disabled={{date.disabled}}
        class={{date-picker-day-classes 'date-picker__day' isDisabled=date.disabled isInRange=date.inRange isToday=(is-equal-day date.date today) isSelected=(is-equal-day date.date selectedDates)}}
        onclick={{action 'selectDate' date.date}}>
        {{date.day}}
      </button>
    {{else}}
      <div class="date-picker__day__placeholder"></div>
    {{/if}}
  {{/each}}
</div>
