{{#if showWeekdays}}
  <div class='date-picker__weekdays'>
    {{#each weekdays as |day|}}
      <div class='date-picker__weekday'>
        {{day}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='date-picker__calendar'>
  {{#each daysInMonth as |date|}}
    {{#if date}}
      <button
        data-test="day-{{date.month}}-{{date.day}}"
        disabled={{date.disabled}}
        class={{date-picker-day-classes 'date-picker__day' isDisabled=date.disabled isInRange=date.inRange isToday=(is-equal-day date.date today) isSelected=(is-equal-day date.date selectedDates)}}
        {{action 'selectDate' date.date}}>
        {{date.day}}
      </button>
    {{else}}
      <div class="date-picker__day__placeholder"></div>
    {{/if}}
  {{/each}}
</div>