<span class='date-time-picker__item date-time-picker__item--date'>
  <DatePicker
    @value={{@value}}
    @buttonClasses={{@datePickerClasses}}
    @buttonDateFormat={{@buttonDateFormat}}
    @minDate={{@minDate}}
    @maxDate={{@maxDate}}
    @disabled={{@disabled}}
    @renderInPlace={{@renderInPlace}}
    @horizontalPosition={{@horizontalPosition}}
    @verticalPosition={{@verticalPosition}}
    @onChange={{action 'updateDate'}}
  />
</span>

<span class='date-time-picker__item date-time-picker__item--time'>
  <TimePicker
    @value={{this.timePickerValue}}
    @disabled={{this.timePickerDisabled}}
    @minTime={{this.minTime}}
    @maxTime={{this.maxTime}}
    @step={{this.step}}
    @selectStep={{this.selectStep}}
    @amPm={{this.shouldUseAmPm}}
    @inputClasses={{this.timePickerClasses}}
    @renderInPlace={{@renderInPlace}}
    @horizontalPosition={{@horizontalPosition}}
    @verticalPosition={{@verticalPosition}}
    @onChange={{this.updateTime}}
  />
</span>