{{#basic-dropdown
  disabled=disabled
  onOpen=(action 'onDropdownOpened')
  onClose=(action 'onDropdownClosed')
  renderInPlace=renderInPlace
  horizontalPosition=horizontalPosition
  verticalPosition=verticalPosition
  matchTriggerWidth=matchTriggerWidth
as |dd| }}

  {{#dd.trigger
    onKeyDown=(action 'onTriggerKeyDown')
    class='time-picker__trigger'
  }}
    <button
      type="button"
      disabled={{disabled}}
      class="time-picker__button {{buttonClasses}}"
      data-time-picker-toggle-button={{elementId}}
      data-time-picker-value="{{displayValue}}"
      tabindex="-1"
    >
      {{#if displayValue}}
        {{displayValue}}
      {{else}}
        {{placeholder}}
      {{/if}}
    </button>
  {{/dd.trigger}}

  {{#dd.content}}
    <div
      class='time-picker__dropdown {{dropdownClasses}}'
      data-time-picker-instance={{elementId}}
    >
      {{time-picker-input
        disabled=disabled
        value=(readonly inputValue)
        class=(concat 'time-picker__input ' inputClasses)
        id=(concat elementId '-input')
        placeholder=placeholder
        input-change=(action 'updateInputValue')
        escape=(action 'closeDropdown')
        enter=(action 'selectCurrent')
        tab=(action 'closeDropdown')
        arrow-up=(action 'selectUp')
        arrow-down=(action 'selectDown')
        data-time-picker-input-instance=elementId
      }}

      <div>
        {{! template-lint-disable no-invalid-interactive }}
        {{#each filteredOptions as |option i|}}
          <div
            class='time-picker__dropdown__item
            {{if (is-equal selectedOptionIndex i) 'time-picker__dropdown__item--selected'}}'
            {{action 'selectValue' option.value}}
          >
            {{option.value}}
          </div>
        {{/each}}
        {{! template-lint-enable no-invalid-interactive }}
      </div>
    </div>

  {{/dd.content}}

{{/basic-dropdown}}
