{{title 'An Ember add-on which provides pure Ember-based date picker components.'}}

<div class="jumbotron text-center">
  <h1>ember-site-tour</h1>
  <p>
    An Ember add-on which provides pure Ember-based date picker components.
  </p>

  <p>
    {{#code-inline language='bash'}}ember install ember-date-components{{/code-inline}}
  </p>

  <p>
    {{date-picker action=(action 'updateDate')}}
  </p>

  <p>
    {{#link-to 'date-picker-component' class="btn btn-primary btn-lg"}}
      date-picker Documentation
    {{/link-to}}
  </p>
</div>

<h2>Dependencies</h2>
<p>
  All provided date components are based on <a href="http://momentjs.com/" target="_blank">moment.js</a>.
  This means that all input and output dates are moment.js date objects. You need to
  {{#code-inline language='bash'}}ember install ember-moment{{/code-inline}}
  separately for this add-on.
</p>

<h2>Date Picker Usage</h2>
{{date-picker action=(action 'updateDate')}}
{{#code-block language='handlebars'}}\{{date-picker action=(action 'updateDate')}}{{/code-block}}
<p>
  {{#link-to 'date-picker-component'}}More about date-picker{{/link-to}}
</p>

<h2>Date Range Picker Usage</h2>
{{date-picker range=true action=(action 'updateDateRange')}}
{{#code-block language='handlebars'}}\{{date-picker range=true action=(action 'updateDateRange')}}{{/code-block}}
<p>
  {{#link-to 'date-range-picker-component'}}More about date-range-picker{{/link-to}}
</p>

<h2>Configuration</h2>

<p>
  There isn't any configuration needed. A basic stylesheet will be included, unless you opt out of it:
</p>

{{#code-block language='javascript'}}// ember-cli-build.js
// ...
var app = new EmberApp({
  'ember-date-components': {
    'importCSS': false
  }
});
// ...{{/code-block}}

<p>
  This will only include some basic styling for the layout. You are encouraged to overwrite the styles to fit your app.
  If you use Sass, you can also import a provided partial with more styles:
</p>

{{#code-block language='scss'}}@import "ember-date-components";{{/code-block}}

<p>
  This partial uses a few variables that you can set:
</p>

{{#code-block language='scss'}}$font-size: 16px !default;
$font-family: Helvetica, Arial, sans-serif !default;
$border-radius: 3px !default;
$border-color: #ddd !default;
$color-primary: #2ecc71 !default;
$color-button: #eee !default;
$color-button-hover: #ddd !default;

@import "ember-date-components";{{/code-block}}

<p>
  Note that this partial is built on top of the basic stylesheet, not instead of it, so you shouldn't opt out of it
  if you use the Sass partial.
</p>
