{{page-title
  'An Ember add-on which provides pure Ember-based date picker components.'
}}

<div class='jumbotron text-center'>
  <h1>
    ember-date-components
  </h1>
  <p>
    An Ember add-on which provides pure Ember-based date & time picker components.
  </p>

  <p>
    <CodeInline @language="bash" @code="ember install ember-date-components" />
  </p>

  <p>
    <DatePicker @onChange={{this.updateDate}} @value={{this.date}} />

    <TimePicker @value={{this.time}} @onChange={{this.updateTime}} />
  </p>

  <p>
    <LinkTo @route='usage.date-picker' class='btn btn-primary btn-lg'>
      date-picker Documentation
    </LinkTo>
  </p>
</div>

<h2>
  Dependencies
</h2>
<p>
  All provided date components are based on
  <a href='http://momentjs.com/' target='_blank' rel="noopener noreferrer">
    moment.js
  </a>
  .
  This means that all input and output dates are moment.js date objects. You need to
  <CodeInline @language="bash" @code="ember install ember-moment" />
  separately for this add-on.
</p>

<h2>
  Date Picker Usage
</h2>
<DatePicker @onChange={{this.updateDate}} @value={{this.date}} />
<CodeBlock @language="handlebars" @code="&lt;DatePicker @onChange=&#123;&#123;this.updateDate&#125;&#125; @value=&#123;&#123;this.date&#125;&#125; /&gt;" />
<p>
  <LinkTo @route='usage.date-picker'>
    More about Date Picker usage
  </LinkTo>
</p>

<h2>
  Date Range Picker Usage
</h2>
<DatePicker
  @range={{true}}
  @onChange={{this.updateDateRange}}
  @value={{this.dateRange}}
/>
<CodeBlock @language="handlebars" @code="&lt;DatePicker @range=&#123;&#123;true&#125;&#125; @onChange=&#123;&#123;this.updateDateRange&#125;&#125; @value=&#123;&#123;this.dateRange&#125;&#125; /&gt;" />
<p>
  <LinkTo @route='usage.date-range-picker'>
    More about Date Range Picker usage
  </LinkTo>
</p>

<h2>
  Time Picker Usage
</h2>
<TimePicker @value={{this.time}} @onChange={{this.updateTime}} />
<CodeBlock @language="handlebars" @code="&lt;TimePicker @value=&#123;&#123;this.time&#125;&#125; @onChange=&#123;&#123;this.updateTime&#125;&#125; /&gt;" />
<p>
  <LinkTo @route='usage.time-picker'>
    More about Time Picker usage
  </LinkTo>
</p>

<h2>
  Date/Time Picker Usage
</h2>

<DateTimePicker @value={{this.dateTime}} @onChange={{this.updateDateTime}} />

<CodeBlock @language="handlebars" @code="&lt;DateTimePicker @value=&#123;&#123;this.dateTime&#125;&#125; @onChange=&#123;&#123;this.updateDateTime&#125;&#125; /&gt;" />
<p>
  <LinkTo @route='usage.date-time-picker'>
    More about Date-Time Picker usage
  </LinkTo>
</p>

<h2>
  Custom Date Options
</h2>
<DatePicker
  @range={{true}}
  @onChange={{this.updateDateRange}}
  @value={{this.dateRange}}
  @options={{true}}
/>

<CodeBlock @language="handlebars" @code="&lt;DatePicker
  @range=&#123;&#123;true&#125;&#125;
  @onChange=&#123;&#123;this.updateDateRange&#125;&#125;
  @value=&#123;&#123;this.dateRange&#125;&#125;
  @options=&#123;&#123;true&#125;&#125;
/&gt;" />
<p>
  <LinkTo @route='usage.custom-options'>
    More about Custom Options
  </LinkTo>
</p>

<h2>
  Configuration
</h2>

<p>
  There isn't any configuration needed. A basic stylesheet will be included, unless you opt out of it:
</p>

<CodeBlock @language="javascript" @code="// ember-cli-build.js
// ...
let app = new EmberApp({
  'ember-date-components': {
    'includeCSS': false
  }
});
// ..." />

<p>
  You are encouraged to overwrite the styles to fit your app.
  If you use Sass, you can also import a provided partial (don't forget to disable the CSS import in that case!).
  You'll also need to ensure that the ember-basic-dropdown partial is correctly imported. If you don't use Sass,
  it will automatically be added to your project (via the ember-basic-dropdown addon).
</p>

<CodeBlock @language="scss" @code='@import "ember-basic-dropdown";
@import \"ember-date-components/addon\";' />

<p>
  This partial uses a few variables that you can set:
</p>

<CodeBlock @language="scss" @code='$font-size: 16px !default;
$border-radius: 3px !default;
$date-picker-color-primary: #2ecc71 !default;
$date-picker-color-secondary: #ccc !default;
$date-picker-color-background: #eee !default;

@import "ember-date-components/addon";' />

<p>
  Note that if you use this partial, you set
  <CodeInline @language="javascript" @code="includeCSS: false" />
  .
</p>
