{{title 'An Ember add-on which provides pure Ember-based date picker components.'}}

<div class="jumbotron text-center">
  <h1>ember-date-components</h1>
  <p>
    An Ember add-on which provides pure Ember-based date & time picker components.
  </p>

  <p>
    {{#code-inline language='bash'}}ember install ember-date-components{{/code-inline}}
  </p>

  <p>
    {{date-picker action=(action 'updateDate') value=date}}
    {{time-picker action=(action 'updateTime') value=time}}
  </p>

  <p>
    {{#link-to 'usage.date-picker' class="btn btn-primary btn-lg"}}
      date-picker Documentation
    {{/link-to}}
  </p>
</div>

<h2>Dependencies</h2>
<p>
  All provided date components are based on <a href="http://momentjs.com/" target="_blank">moment.js</a>.
  This means that all input and output dates are moment.js date objects. You need to
  {{#code-inline language='bash'}}ember install ember-moment{{/code-inline}}
  separately for this add-on.
</p>

<h2>Date Picker Usage</h2>
{{date-picker action=(action 'updateDate') value=date}}
{{#code-block language='handlebars'}}\{{date-picker action=(action 'updateDate')}}{{/code-block}}
<p>
  {{#link-to 'usage.date-picker'}}
    More about Date Picker usage
  {{/link-to}}
</p>

<h2>Date Range Picker Usage</h2>
{{date-picker range=true action=(action 'updateDateRange') value=dateRange}}
{{#code-block language='handlebars'}}\{{date-picker range=true action=(action 'updateDateRange')}}{{/code-block}}
<p>
  {{#link-to 'usage.date-range-picker'}}
    More about Date Range Picker usage
  {{/link-to}}
</p>

<h2>Time Picker Usage</h2>
{{time-picker action=(action 'updateTime') value=time}}
{{#code-block language='handlebars'}}\{{time-picker action=(action 'updateTime')}}{{/code-block}}
<p>
  {{#link-to 'usage.time-picker'}}
    More about Time Picker usage
  {{/link-to}}
</p>

<h2>Date/Time Picker Usage</h2>
{{date-time-picker action=(action 'updateDateTime') value=dateTime}}
{{#code-block language='handlebars'}}\{{date-time-picker action=(action 'updateDateTime')}}{{/code-block}}
<p>
  {{#link-to 'usage.date-time-picker'}}
    More about Date-Time Picker usage
  {{/link-to}}
</p>

<h2>Custom Date Options</h2>
{{date-picker range=true options=true action=(action 'updateDateRange') value=dateRange}}
{{#code-block language='handlebars'}}\{{date-picker range=true options=true action=(action 'updateDateRange')}}{{/code-block}}
<p>
  {{#link-to 'usage.custom-options'}}
    More about Custom Options
  {{/link-to}}
</p>

<h2>Configuration</h2>

<p>
  There isn't any configuration needed. A basic stylesheet will be included, unless you opt out of it:
</p>

{{#code-block language='javascript'}}// ember-cli-build.js
// ...
var app = new EmberApp({
'ember-date-components': {
'includeCSS': false
}
});
// ...{{/code-block}}

<p>
  You are encouraged to overwrite the styles to fit your app.
  If you use Sass, you can also import a provided partial (don't forget to disable the CSS import in that case!).
  You'll also need to ensure that the ember-basic-dropdown partial is correctly imported. If you don't use Sass,
  it will automatically be added to your project (via the ember-basic-dropdown addon).
</p>

{{#code-block language='scss'}}@import "ember-basic-dropdown";
@import "ember-date-components/addon";{{/code-block}}

<p>
  This partial uses a few variables that you can set:
</p>

{{#code-block language='scss'}}$font-size: 16px !default;
$border-radius: 3px !default;
$date-picker-color-primary: #2ecc71 !default;
$date-picker-color-secondary: #ccc !default;
$date-picker-color-background: #eee !default;

@import "ember-date-components/addon";{{/code-block}}

<p>
  Note that if you use this partial, you set {{#code-inline langauge='javascript'}}includeCSS: false{{/code-inline}}.
</p>
